<div class="video-container">
  <h2>Player de Vídeo com Corte</h2>

  <!-- Dropdown de seleção de pasta -->
  <div class="select-container">
    <mat-form-field appearance="fill" class="dropdown-field">
      <mat-label>Escolha uma pasta</mat-label>
      <mat-select [(value)]="selectedFolder" (selectionChange)="onFolderSelected($event.value)">
        <mat-option *ngFor="let folder of folders" [value]="folder">{{ folder }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Dropdown de seleção de vídeo -->
  <div *ngIf="selectedFolder" class="select-container">
    <mat-form-field appearance="fill" class="dropdown-field">
      <mat-label>Escolha um vídeo</mat-label>
      <mat-select [(value)]="selectedVideoUrl" (selectionChange)="playVideo($event.value)">
        <mat-option *ngFor="let video of videos" [value]="video">{{ video }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Player de vídeo -->
  <div *ngIf="selectedVideoUrl" class="video-player-container">
    <video #videoPlayer controls>
      <source [src]="selectedVideoUrl" type="video/mp4">
      Seu navegador não suporta o elemento de vídeo.
    </video>
  </div>

  <!-- Barra de Progresso Customizada e Controles -->
  <div *ngIf="selectedVideoUrl" class="video-actions">
    <button mat-raised-button color="primary" (click)="playBetween()">Reproduzir Intervalo</button>
    <button mat-raised-button color="accent" (click)="toggleLoop()">Loop Intervalo</button>
    <button mat-raised-button color="warn" (click)="cortarVideo()">Corte</button>
  </div>

  <!-- Slider para definir o corte -->
  <div class="cut-range">
    <h3>Definir Corte</h3> <br>
    <div class="slider-container">
      <ngx-slider
        [(value)]="range[0]"
        [(highValue)]="range[1]"
        [options]="cutSliderOptions"
        class="slider">
      </ngx-slider>
    </div>
    <div class="cut-info">
      <span>Início do corte: {{ range[0] | number: '1.0-2' }}s</span>
      <span>Fim do corte: {{ range[1] | number: '1.0-2' }}s</span>
    </div>
  </div>

  <!-- Inputs para definir o corte manualmente -->
  <div class="time-controls">
    <div>
      <label for="startTime">Início:</label>
      <input id="startTime" type="number" [(ngModel)]="range[0]" (change)="seekTo(range[0])" min="0" [max]="range[1]" step="0.1">
    </div>
    <div>
      <label for="endTime">Fim:</label>
      <input id="endTime" type="number" [(ngModel)]="range[1]" (change)="seekTo(range[1])" [min]="range[0]" [max]="videoDuration" step="0.1">
    </div>
  </div>
</div>
